<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> </h2>
      <ul>

        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_content">

    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
    <%= form.label :note %>
    <%= form.text_field :note %>
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
    <%= form.label :status %>
    <%= form.select :status, [[t('done'), t('done')],
                              [t('not_started'), t('not_started')],
                              [t('in_progress'), t('in_progress')],
                              [t('hold'), t('hold')]]
    %>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities_i18n.invert, {} %>
    <br>
    <p><%= t('label') %></p>
    <% Label.all.each do |label| %>
      <%= fields_for :label_tags do |f| %>
        <%= f.check_box :label_id, {
            multiple: true,
            #multiple:複数チェックボックスで配列形式のパラメータを送れる
            checkd: label[:checked],
            #:checked	チェックボックスのチェックの有無
            disabled: label[:disabled],
            #:disabled	フォームの項目の利用禁止
            include_hidden: false}, #チェックが入っていない時、何も送らない
                        label[:id] %>
      <% end %>
      <%= label.label_name %>
    <% end %>
    <br><br>
    <%= form.submit t('create') %>
  </div>
<% end %>


<br>
<%= link_to t('index'), root_path %>