<h1><%= t('index') %></h1>
<p><%= notice %></p>
<%= form_with( model:Task.new, method: :get, local: true ) do |f| %>
  <%= f.label :task_name_key, t('sarch_task_name') %>
  <%= f.text_field :task_name_key %>
  <%= f.label :status_key, t('sarch_status') %>
  <%= f.select :status_key, [[t('done'),t('done')],
                             [t('not_started'),t('not_started')],
                             [t('in_progress'),t('in_progress')],
                             [t('hold'), t('hold')]],
               prompt:''
  %>
  <%= f.hidden_field :search, value: 'true' %>
  <%= f.submit t('search') %>
  <%#= link_to 'Clear', forecasts_path %>
<% end %>
<%= link_to t('sort_priority'), root_path(sort_priority: "true") %>
<%= link_to t('sort_deadline'), root_path(sort_expired: "true") %>
<%= link_to t('sort_created_at'), tasks_path %>

<div class="table">
  <table>
    <tr>
      <th><%= t('task_name') %></th>
      <th><%= t('note') %></th>
      <th><%= t('created_at') %></th>
      <th><%= t('deadline') %></th>
      <th><%= t('status') %></th>
      <th><%= t('priority') %></th>
      <th><%= t('label') %></th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.note %></td>
        <td><%= task.created_at %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <th><%= task.priority_i18n %></th>
        <td><%= task.which_labels.count %></td>
        <td><%= link_to t('to_note'), task_path(task.id) %></td>
        <td><%= link_to t('edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('destroy'), task_path(task.id), method: :delete ,data:{confirm:I18n.t('confirm')} %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate @tasks %>
<%= link_to t('new'), new_task_path %>