<h2><%= t('task_name') %>：<%= @task.task_name %></h2>
<p><%= t('note') %>：<%= @task.note %></p>
<p><%= t('deadline') %>：<%= @task.deadline %></p>
<p><%= t('status') %>：<%= @task.status %></p>

<%= link_to t('index'), root_path %>