<!DOCTYPE html>
<html>
  <head>
    <title>ManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="header">
    <div class="logo">
      <h2>ManyoTask</h2>
    </div>

  </header>

  <%= yield %>
  <footer>
    <p>あらいあゆみ</p>
    <p>2019.6</p>
  </footer>
  </body>
</html>
